@charset "UTF-8";
@font-face {
  font-family: "nbg";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}

@font-face {
  font-family: "nbg";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "nbg", "맑은 고딕", HelveticaNeue, DroidSans, Sans-serif, Helvetica;
}

a {
  text-decoration: none;
  color: #000;
}

b {
  font-weight: bold;
}

/* 컨텐츠 */
a:hover {
  text-decoration: underline;
}

.main_visual {
  background: url("../img/2022_Summer1_main_bg.jpg");
  width: 100%;
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 646px;
}

.main_visual .main_visual_inner {
  width: 1100px;
  height: 646px;
  position: relative;
  overflow: hidden;
}

.main_visual .main_visual_inner .main_slogan {
  position: absolute;
  top: 7.1%;
  left: 44px;
  opacity: 0;
  -webkit-animation: fadeIn 200ms ease;
          animation: fadeIn 200ms ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.main_visual .main_visual_inner .slogan_btn {
  z-index: 10;
  top: 39%;
  left: 6px;
  text-align: center;
  position: absolute;
  width: 355px;
  height: 38px;
}

.main_visual .main_visual_inner .slogan_btn a {
  width: 129px;
  margin: 0 auto;
  display: block;
  color: #d83a78;
  border: solid 2px #d83a78;
  border-radius: 5px;
  padding: 8px 16px;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}

.main_visual .main_visual_inner .slogan_btn a:hover {
  background-color: #d83a78;
  color: #fff;
}

.main_visual .main_visual_inner .beverage {
  position: absolute;
  opacity: 0;
}

.main_visual .main_visual_inner .beverage img {
  width: 100%;
}

.main_visual .main_visual_inner .item-1 {
  z-index: 1;
  -webkit-animation: fadeIn 500ms ease 400ms;
          animation: fadeIn 500ms ease 400ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.main_visual .main_visual_inner .item-2 {
  z-index: 2;
  -webkit-animation: fadeIn 500ms ease 800ms;
          animation: fadeIn 500ms ease 800ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.main_visual .main_visual_inner .item-3 {
  z-index: 3;
  -webkit-animation: fadeIn 500ms ease 1200ms;
          animation: fadeIn 500ms ease 1200ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.main_visual .main_visual_inner .item-1 {
  top: 11.8%;
  left: 35.7%;
  width: 48.7%;
  max-width: 548px;
}

.main_visual .main_visual_inner .item-2 {
  top: 33.5%;
  left: 19.6%;
  width: 41.5%;
  max-width: 468px;
}

.main_visual .main_visual_inner .item-3 {
  z-index: 10;
  top: 15.6%;
  right: -8%;
  width: 26.9%;
  max-width: 302px;
}

/* 공지 */
.line_notice {
  width: 100%;
  height: 62px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* 공지 -- 프로모션 */
}

.line_notice .left,
.line_notice .right {
  height: 62px;
  position: absolute;
}

.line_notice .left {
  background-color: #000;
  left: 0;
  width: 55%;
}

.line_notice .left a {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../img/btn_notice_plus.png") 0 0 no-repeat;
  background-size: 100%;
  z-index: 9;
}

.line_notice .right {
  background-color: #f6f5ef;
  width: 45%;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line_notice .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1280px;
  position: relative;
  color: #fff;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line_notice .inner dt {
  display: inline-block;
}

.line_notice .inner .notice {
  height: 1;
  height: 16px;
  display: inline-block;
  width: 400px;
  position: relative;
  overflow: hidden;
  margin-left: 30px;
  top: 5px;
}

.line_notice .inner .notice .line {
  position: absolute;
  top: 0;
  -webkit-transition: top 300ms ease;
  transition: top 300ms ease;
  font-size: 14px;
}

.line_notice .inner .notice .line li {
  height: 16px;
}

.line_notice .inner .notice .line li a {
  display: block;
}

.line_notice .inner a {
  color: #fff;
}

.line_notice .promotion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.line_notice .promotion .promotion_title {
  width: 129px;
  height: 17px;
  background: url("../img/prom_ttl_b.png") no-repeat;
  background-size: 100% auto;
  display: block;
  margin-right: 100px;
}

.line_notice .promotion .promotion_button {
  width: 35px;
  height: 35px;
  background: url("../img/btn_prom_down.png") 0 0 no-repeat;
  background-size: 100%;
}

.line_notice .promotion .promotion_button.open {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* 슬라이드 swiper */
.swiper {
  width: 100%;
  height: 0;
  -webkit-transition: height 300ms ease;
  transition: height 300ms ease;
  background-color: #f6f5ef;
}

.swiper.open {
  height: 650px;
}

.swiper-slide {
  margin-top: 50px;
  width: 820px;
  height: 553px;
  opacity: 0.5;
}

.swiper-slide .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 10px;
}

.swiper-slide .detail a {
  width: 125px;
  height: 38px;
  line-height: 1.5;
  line-height: 34px;
  text-align: center;
  background: none;
  border-radius: 3px;
  border: solid 2px #000;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.swiper-slide .detail a:hover {
  background-color: #222;
  color: #fff;
}

.swiper-slide-active {
  opacity: 1;
}

.swiper-button-prev {
  left: 20%;
  background: url("../img/arrow_left_on.png") no-repeat center center;
}

.swiper-button-next {
  right: 20%;
  background: url("../img/arrow_right_on.png") no-repeat center center;
}

.swiper-button-prev,
.swiper-button-next {
  width: 51px;
  height: 51px;
  border: solid 2px #000;
  border-radius: 26px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: none;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #fff;
}

/* 리워드 reward */
.reward {
  width: 100%;
  background-color: #1e3932;
  height: 240px;
  color: #fff;
  letter-spacing: 0.5px;
}

.reward .inner {
  padding: 30px 0 40px 0;
  width: 1080px;
  margin: auto;
}

.reward .inner .logo {
  float: left;
  margin: 0 40px;
}

.reward .inner .logo img {
  width: 176px;
}

.reward .inner .info {
  float: right;
}

.reward .inner .info > :first-child {
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.reward .inner .info .info_text {
  display: block;
  margin-bottom: 12px;
  width: 800px;
  position: relative;
}

.reward .inner .info .info_text h2 {
  font-size: 26px;
  line-height: 1.4;
  margin-bottom: 12px;
}

.reward .inner .info .info_text p {
  line-height: 1.4;
  font-size: 17px;
  margin-bottom: 10px;
  font-weight: 300;
}

.reward .inner .info .info_text p.small {
  font-size: 14px;
}

.reward .inner .info .button_group {
  position: absolute;
  right: 0;
  bottom: 20px;
}

.reward .inner .info .button_group > :first-child {
  margin-right: 10px;
}

.reward .inner .info .button_group.egift {
  top: 10px;
}

.reward .inner .info .button_group a {
  height: 38px;
  border-radius: 5px;
  padding: 0 18px;
  font-size: 14px;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 36px;
  display: inline-block;
}

.reward .inner .info .button_group .join {
  background-color: #00704a;
  border: 2px solid #00704a;
}

.reward .inner .info .button_group .login,
.reward .inner .info .button_group .btn_egift {
  border: solid 2px #fff;
}

/* 컨테이너 container */
.container {
  width: 100%;
  overflow: hidden;
  display: block;
  position: relative;
}

.container img {
  vertical-align: top;
  max-width: 100%;
}

.container .text {
  z-index: 9;
  top: 31.9%;
  right: 15.8%;
  max-width: 321px;
  width: 28.7%;
  position: absolute;
}

.container .text .detail {
  width: 125px;
  height: 38px;
  z-index: 6;
  margin-top: 20px;
  width: 125px;
  height: 38px;
  z-index: 6;
  margin-top: 20px;
}

.container .text .detail a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 15px;
  line-height: 34px;
  border-radius: 5px;
  text-align: center;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #1e245c;
  border: 2px solid #1e245c;
}

.container .text .detail a:hover {
  background-color: #1e245c;
  color: #fff;
}

.container.item-1 {
  background: url("../img/2022_Summer1_bean_bg2.jpg");
}

.container.item-1::before, .container.item-1::after {
  position: absolute;
  bottom: 0;
  display: block;
  background-position: center top;
  background-repeat: no-repeat;
  content: "";
}

.container.item-1::before {
  top: -17.5%;
  left: 0;
  width: 425px;
  height: 392px;
  background-image: url("../img/2022_Summer1_bean_bg_left.png");
}

.container.item-1::after {
  bottom: -15.5%;
  right: 0;
  width: 482px;
  height: 360px;
  background-image: url("../img/2022_Summer1_bean_bg_right.png");
}

.container.item-1 .img_area {
  position: absolute;
  z-index: 9;
  top: 13.6%;
  left: 14.9%;
  max-width: 310px;
  width: 27.7%;
}

.container.item-2 {
  background: url("../img/reserve_2022_indonesia_visual_bg.jpg");
}

.container.item-2::before {
  content: url("../img/reserve_2022_indonesia_leaf1.png");
  position: absolute;
  left: 0;
  bottom: -1%;
}

.container.item-2::after {
  content: url("../img/reserve_2022_indonesia_leaf2.png");
  position: absolute;
  right: 0;
  bottom: -1%;
}

.container.item-2 .img_area {
  bottom: 0;
  position: absolute;
}

.container.item-2 .detail {
  width: 125px;
  height: 38px;
  z-index: 6;
  margin-top: 20px;
}

.container.item-2 .detail a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 15px;
  line-height: 34px;
  border-radius: 5px;
  text-align: center;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #b9813e;
  border: 2px solid #b9813e;
}

.container.item-2 .detail a:hover {
  background-color: #b9813e;
  color: #fff;
}

.container.item-2 .detail a {
  margin-left: 254px;
}

.container.item-2 .title {
  margin-top: 100px;
}

.container.item-3 {
  background: url("../img/fav_prod_bg_new.jpg") center center fixed no-repeat #45434c;
  background-size: auto 100%;
  height: 800px;
  padding: 0;
  position: relative;
}

.container.item-3 .img_area {
  top: 100px;
  right: -10px;
  width: 672px;
  height: 458px;
  background-image: url("../img/2022_Summer1_pick_img.png");
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 7;
}

.container.item-3 .text_area {
  width: 400px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.container.item-3 .text_area .text-1 {
  background: url("../img/fav_prod_txt01.png") no-repeat;
  background-position: right;
  height: 204px;
  margin-bottom: 50px;
}

.container.item-3 .text_area .text-2 {
  background: url("../img/fav_prod_txt02.png") no-repeat;
  background-position: right;
  height: 156px;
}

.container.item-3 .text_area .detail {
  width: 125px;
  height: 38px;
  z-index: 6;
  margin-top: 20px;
  float: right;
}

.container.item-3 .text_area .detail a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 15px;
  line-height: 34px;
  border-radius: 5px;
  text-align: center;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #fff;
  border: 2px solid #fff;
}

.container.item-3 .text_area .detail a:hover {
  background-color: #fff;
  color: #000;
}

.container.item-4 {
  background: url("../img/reserve_bg_pc.png") no-repeat 50% 100%;
  background-size: auto 353px;
}

.container.item-4 .title {
  position: absolute;
  bottom: 50%;
}

.container.item-4 .detail {
  width: 125px;
  height: 38px;
  z-index: 6;
  margin-top: 20px;
  position: absolute;
  top: 50%;
  left: 20%;
}

.container.item-4 .detail a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 15px;
  line-height: 34px;
  border-radius: 5px;
  text-align: center;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #000;
  border: 2px solid #000;
}

.container.item-4 .detail a:hover {
  background-color: #000;
  color: #fff;
}

.container.item-4 .img_area {
  position: absolute;
  right: 0;
  margin-left: -500px;
}

.container.item-5 {
  background: url("../img/store_bg.jpg");
  background-size: 100% auto;
}

.container.item-5 .store-1 {
  position: absolute;
}

.container.item-5 .store-2 {
  position: absolute;
}

.container.item-5 .store-3 {
  position: absolute;
}

.container.item-5 .store-4 {
  position: absolute;
}

.container.item-5 .store-1 {
  background: url("../img/store_exp_img01.png");
  height: 228px;
  left: 330px;
  top: 149px;
  width: 228px;
  z-index: 1;
}

.container.item-5 .store-2 {
  background: url("../img/store_exp_img02.png");
  height: 312px;
  left: 100px;
  top: 0;
  width: 366px;
}

.container.item-5 .store-3 {
  background: url("../img/store_exp_img03.png");
  height: 142px;
  left: 520px;
  top: -60px;
  width: 343px;
}

.container.item-5 .store-4 {
  background: url("../img/store_exp_img04.png");
  height: 102px;
  right: -100px;
  top: 298px;
  width: 230px;
}

.container.item-5 .text_area {
  position: relative;
  float: right;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.container.item-5 .text_area .text-1 {
  background: url("../img/store_txt01.png");
  width: 385px;
  height: 54px;
}

.container.item-5 .text_area .text-2 {
  background: url("../img/store_txt02.png");
  width: 366px;
  height: 61px;
  margin: 10px 0 20px;
}

.container.item-5 .text_area .detail {
  width: 125px;
  height: 38px;
  z-index: 6;
  margin-top: 20px;
}

.container.item-5 .text_area .detail a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 15px;
  line-height: 34px;
  border-radius: 5px;
  text-align: center;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #000;
  border: 2px solid #000;
}

.container.item-5 .text_area .detail a:hover {
  background-color: #000;
  color: #fff;
}

.container .inner {
  width: 1124px;
  height: 100%;
  margin: auto;
  position: relative;
}

footer {
  background-color: #2c2a29;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 30px;
}

footer a {
  color: #fff;
  font-weight: 300;
}

footer .inner {
  width: 1120px;
  background: url("../img/footer_logo.png") right 50px no-repeat;
}

footer .inner .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 80px;
}

footer .inner .menu > ul {
  width: 20%;
}

footer .inner .menu > ul li {
  margin-bottom: 10px;
}

footer .inner .menu .title {
  font-family: arial, HelveticaNeue, DroidSans, sans-serif, Helvetica;
  font-size: 14px;
  margin-bottom: 10px;
}

footer .awards {
  width: 100%;
  background-color: #282828;
  padding: 20px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .awards li {
  float: left;
}

footer .copyright {
  padding: 30px;
}

footer .copyright .terms a {
  font-size: 12px;
  color: #999;
  border-right: 1px solid #393939;
  display: inline-block;
  line-height: 18px;
  padding: 0 10px;
}

footer .copyright .btn_group {
  text-align: center;
  height: 34px;
}

footer .copyright .btn_group a {
  border: 2px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  width: 110px;
  height: 100%;
  line-height: 34px;
  margin: 10px 2px 0 0;
}

footer .copy_menu {
  color: #999;
  margin: 25px 0 5px;
}

footer .copy_menu li {
  float: left;
  padding-right: 20px;
}

footer span {
  color: #999;
  display: block;
  line-height: 40px;
}

.floating {
  position: fixed;
  z-index: 99999999;
  top: 154px;
  right: 1%;
}
/*# sourceMappingURL=style.css.map */